@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2621 0.0095 248.1897);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2621 0.0095 248.1897);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2621 0.0095 248.1897);
  --primary: oklch(0.5782 0.2282 260.0251);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.5575 0.0165 244.8933);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9816 0.0017 247.8390);
  --muted-foreground: oklch(0.5575 0.0165 244.8933);
  --accent: oklch(0.9417 0.0052 247.8790);
  --accent-foreground: oklch(0.2621 0.0095 248.1897);
  --destructive: oklch(0.5915 0.2020 21.2388);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9109 0.0070 247.9014);
  --input: oklch(0.9109 0.0070 247.9014);
  --ring: oklch(0.5782 0.2282 260.0251);
  --chart-1: oklch(0.5782 0.2282 260.0251);
  --chart-2: oklch(0.5575 0.0165 244.8933);
  --chart-3: oklch(0.5520 0.1234 157.0121);
  --chart-4: oklch(0.7265 0.1832 51.4798);
  --chart-5: oklch(0.7749 0.1380 218.0546);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2621 0.0095 248.1897);
  --sidebar-primary: oklch(0.5782 0.2282 260.0251);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9417 0.0052 247.8790);
  --sidebar-accent-foreground: oklch(0.2621 0.0095 248.1897);
  --sidebar-border: oklch(0.9109 0.0070 247.9014);
  --sidebar-ring: oklch(0.5782 0.2282 260.0251);
  --font-sans: var(--font-roboto), sans-serif;
  --font-serif: Georgia, 'Times New Roman', Times, serif;
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --radius: 0.375rem;
  --shadow-x: 0;
  --shadow-y: 0.25rem;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-opacity: 0;
  --shadow-color: rgba(0,0,0,0.075);
  --shadow-2xs: 0 0.25rem 0 0 hsl(0 0% 0% / 0.00);
  --shadow-xs: 0 0.25rem 0 0 hsl(0 0% 0% / 0.00);
  --shadow-sm: 0 0.25rem 0 0 hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0 0.25rem 0 0 hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0 0.25rem 0 0 hsl(0 0% 0% / 0.00), 0 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0 0.25rem 0 0 hsl(0 0% 0% / 0.00), 0 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0 0.25rem 0 0 hsl(0 0% 0% / 0.00), 0 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0 0.25rem 0 0 hsl(0 0% 0% / 0.00);
  --tracking-normal: normal;
  --spacing: 0.25rem;


  --bs-focus-border: #86b7fe;
  --bs-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.dark {
  --background: oklch(0.2621 0.0095 248.1897);
  --foreground: oklch(0.9417 0.0052 247.8790);
  --card: oklch(0.2621 0.0095 248.1897);
  --card-foreground: oklch(0.9417 0.0052 247.8790);
  --popover: oklch(0.2621 0.0095 248.1897);
  --popover-foreground: oklch(0.9417 0.0052 247.8790);
  --primary: oklch(0.5782 0.2282 260.0251);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.5575 0.0165 244.8933);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.3451 0.0133 248.2124);
  --muted-foreground: oklch(0.8671 0.0106 247.9485);
  --accent: oklch(0.4276 0.0147 248.1715);
  --accent-foreground: oklch(0.9816 0.0017 247.8390);
  --destructive: oklch(0.5915 0.2020 21.2388);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.4276 0.0147 248.1715);
  --input: oklch(0.2621 0.0095 248.1897);
  --ring: oklch(0.5782 0.2282 260.0251);
  --chart-1: oklch(0.5782 0.2282 260.0251);
  --chart-2: oklch(0.5575 0.0165 244.8933);
  --chart-3: oklch(0.5520 0.1234 157.0121);
  --chart-4: oklch(0.7265 0.1832 51.4798);
  --chart-5: oklch(0.7749 0.1380 218.0546);
  --sidebar: oklch(0.2621 0.0095 248.1897);
  --sidebar-foreground: oklch(0.9417 0.0052 247.8790);
  --sidebar-primary: oklch(0.5782 0.2282 260.0251);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.4276 0.0147 248.1715);
  --sidebar-accent-foreground: oklch(0.9816 0.0017 247.8390);
  --sidebar-border: oklch(0.4276 0.0147 248.1715);
  --sidebar-ring: oklch(0.5782 0.2282 260.0251);
  --font-sans: var(--font-roboto), sans-serif;
  --font-serif: Georgia, 'Times New Roman', Times, serif;
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --radius: 0.375rem;
  --shadow-x: 0;
  --shadow-y: 0.25rem;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-opacity: 0;
  --shadow-color: rgba(0,0,0,0.1);
  --shadow-2xs: 0 0.25rem 0 0 hsl(0 0% 0% / 0.00);
  --shadow-xs: 0 0.25rem 0 0 hsl(0 0% 0% / 0.00);
  --shadow-sm: 0 0.25rem 0 0 hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0 0.25rem 0 0 hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0 0.25rem 0 0 hsl(0 0% 0% / 0.00), 0 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0 0.25rem 0 0 hsl(0 0% 0% / 0.00), 0 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0 0.25rem 0 0 hsl(0 0% 0% / 0.00), 0 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0 0.25rem 0 0 hsl(0 0% 0% / 0.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer components {
  .input-bootstrap {
    @apply border border-input bg-transparent outline-none transition-all duration-150;
  }

  .input-bootstrap:focus {
    border-color: var(--bs-focus-border);
    box-shadow: var(--bs-focus-shadow);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}